.sticky-top {
    top:20vh !important;
}

abbr.abreviacao {
    text-decoration: underline;
    font-style: italic;
}
.hover {
    color: black !important;
}
.hover:hover {
    background-color: #3d0627;
    color: white !important;
}
input[type="button"]{
    margin: 20px 0px;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
label.alternativa {
    margin-left: 10px;
    font-size: 1.1em;
    display: inline-block;
    vertical-align: middle;
}

p.alternativa {
    font-size: 1.1em;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: black;
    color: white;
}
.bg{
   background-color: #3d0627;
}
.color{ 
    font-weight: bolder !important;
}
.dropdown-toggle{
    color: white;
}
.nav-link:hover{
   font-weight: bold
}

.col-3, .col-2{
    background-color: #6b6d6c39 !important;
}

.col-6, .col-8{
    background-color: #ffffff !important;
}
