#margin {
    margin-top: 120px;
}

.hover:hover {
    background-color: #0d6efd;
    color: black;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
}

label.alternativa {
    margin: 0px 20px 10px 0px;
    font-size: 1.3em;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: white;
    color: black;
}
.bg{
   background-color: #1a3151;
}
.color{ 
    font-weight: bolder !important;
}
.dropdown-toggle{
    color: white;
}
.nav-link:hover{
   font-weight: bold
}

.col-3{
    background-color: #6b6d6c39 !important;
}

.col-6{
    background-color: #ffffff !important;
}

