#margin {
    margin-top: 120px;
}

abbr#abreviacao {
    text-decoration: underline;
    font-style: italic;
}
.hover {
    color: black !important;
}
.hover:hover {
    background-color: rgb(140, 0, 0);
    color: white !important;
}

.dropdown-toggle:hover {
    color: white !important;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
}

label.alternativa {
    margin: 0px 20px 10px 0px;
    font-size: 1.3em;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.434);
    color: black;
}
.bg{
   background-color:rgb(140, 0, 0)
}
.color{ 
    font-weight: bolder !important;
}
.dropdown-toggle{
    color: white;
}

.col-3{
    background-color: #4c4c4c8a !important;
}

.col-6{
    background-color: #ffffff !important;
    padding-top: 3%;
}

